@import "tailwindcss";

.stroke-dasharray-\[283\] {
    stroke-dasharray: 283;
  }
  .stroke-dashoffset-\[283\] {
    stroke-dashoffset: 283;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s infinite;
}

.gradient-text {
        background: linear-gradient(to right, #d946ef, #3b82f6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .bg-grid {
        background-size: 40px 40px;
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.05) 1px,
            transparent 1px
          ),
          linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
      }
      .dark .bg-grid {
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px
          ),
          linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px
          );
      }
@theme {
  /* Colors */
  --color-primary: #D946EF;
  --color-secondary: #3B82F6;
  --color-background-light: #F8FAFC;
  --color-background-dark: #0B1120;
  --color-card-dark: #1E293B;
  --color-card-light: #FFFFFF;

  /* Fonts */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Border Radius */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}
